body {
    background-color: rgb(18,135,97);
    /*display: flex;*/
}

table {
    border: 0;
    border-spacing: 0;
    padding: 0;
    /*width: 800px;*/
}

table.w169 {
    width: 169px;
    display: inline;
}

img.topbar {
    border: 0;
    padding: 0;
    float: left;

}

tr {
    vertical-align: top;
    padding: 0;
}

td {
    vertical-align: top;
    padding: 0;
}

td.wb1 {
    background-color: white;
}

td.cols3 {
    column-span: 3;
    width: 800px;
}

td.w169 {
    width: 169px;
    text-align: left;
    /**/
}

td.w163 {
    width: 163px;
}

.center {
    align-content: center;
}

h1 {
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: verdana, arial, sans-serif;
    font-size: 18px;
}

h3 {
    font-family: arial, sans-serif;
    font-size: 14px;
}

p {
    font-family: verdana, arial, geneva, verdana, serif;
    font-size: 12px;
    line-height: 14px;
    /*format: justify;*/
    margin-left: 3px;
}

p.small {
    font-family: verdana, arial, geneva, verdana, serif;
    font-size: 12px;
    line-height: 14px;
    align-content: start;
    margin-left: 3px;
    color: #006633;
}

p.heading {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

a {
    font-family: verdana, arial, geneva, verdana, serif;
    font-size: 12px;
    line-height: 14px;
    align-content: start;
    margin-left: 3px;
    color: #006633;
}

a:hover {
    color: #ff9933;
}

.header_line {
    margin: 0;
    border-width: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 18px;
    width: 800px;
}

nav {
    display: block;
}

#mainsection {
    display: inline-block;
    background-color: whitesmoke;
    width: 489px;
    padding-left: 10px;
    border-right-width: 6px;
    border-left-width: 6px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: black;
    border-style: solid;
}

.header_line {
    display: flex;
}

#nav_andmain {
    display: flex;
}
.bray-nav-icon {
    /*border-radius: 10%;*/
    font-family: serif;
    background-color: black;
    width: 126px;
    height: 24px;
    font-size: 18px;
    text-align: right;
    margin-left: 11px;
    /*margin-right: 10px;*/
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 0 0;
}

.bray-nav-icon a {
    border: 1px;
    font-size: 15px;
    color: grey;
    text-decoration: none;
    font-family: Verdana, serif;
}

.bray-nav-icon-last{
    border-bottom-left-radius: 20px ;
}

.bray-nav-icon a:hover {
    color: whitesmoke;
}