{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'css/braysite.css' %}">
<title>BRAY WANDERERS AFC</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>
<header>
<div class="header_line">
    <img id="top_r1_c1" class="topbar" src="{%  static 'img/top_r1_c1.gif' %}" alt="top r1 c1" width="183" height="47">
    <img id="top_r1_c2" class="topbar" src="{%  static 'img/top_r1_c2.gif' %}" alt="top r1 c2" width="282" height="47">
    <img id="top_r1_c3" class="topbar" src="{%  static 'img/top_r1_c3.gif' %}" alt="top r1 c3" width="335" height="47">
</div>
<div class="header_line">
   <img id="top_r2_c1" src="{% static 'img/top_r2_c1.gif' %}" alt="top r2 c1" width="183" height="30"><img id="ani" src="{% static 'img/ani.gif' %}" alt="animated Bray Wanderers" width="282" height="30"><img id="top_r2_c3" src="{% static 'img/top_r2_c3.gif' %}" alt="top r2 c3" width="335" height="30">
</div>
 <div class="header_line">
    <img id="title" src="{% static 'img/title.gif' %}" alt="Title" width="800" height="49" ></td>
 </div>
</header>
{#<a id="top"></a>#}
<div id="nav_andmain">
<nav>

  <div class="bray-nav-icon"><!-- row 0 -->
     <a href="/news/"> News  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 1 -->
     <a href="/fixtures/"> Fixtures  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 2 -->
     <a href="/squad/"> Squad  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 3 -->
     <a href="/results/"> Results  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 4 -->
     <a href="/shop/"> Shop  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 5 -->
     <a href="/articles/"> Articles  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 6 -->
     <a href="/club/"> Club  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 7 -->
     <a href="/supporters/"> Supporters  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 8 -->
     <a href="/links/"> Links  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon"><!-- row 9 -->
     <a href="/tables/"> Tables  <i class='far fa-futbol'></i> </a>
  </div>
  <div class="bray-nav-icon bray-nav-icon-last"><!-- row 10 -->
     <a href="/home/"> Home  <i class='far fa-futbol'></i> </a>
  </div>
</nav>

<div id="mainsection">

{% block content %}


{% endblock %}
</div>
</div>
<!-- content table ends here do not exceed width="482" -->

<footer>
    <img src="{% static 'img/bot.gif' %}" alt="bot" width="800" height="34" usemap="#navbar" >
        <map name="navbar"><area shape="rect" coords="180,12,251,29" href="#top" alt="Back to the top" title="Back to the top">
            <area shape="rect" coords="251,13,321,29" href="contactus.php" alt="Contact us" title="Contact us">
            <area shape="rect" coords="322,13,378,29" href="siteinfo.php" alt="siteinfo"></map>
      <p class="small">&nbsp;</p>
</footer>
</body>

</html>

