{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'css/braysite.css' %}">
<title>BRAY WANDERERS AFC</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Fireworks Splice HTML">

<!--   This HTML was originally automatically created with Macromedia Fireworks 3.0 in approx 2001  -->
<!--   http://www.macromedia.com   -->


<!-- BEGIN COPYING THE JAVASCRIPT SECTION HERE -->
<script>

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

/* Functions that swaps images. */
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

 if (document.images) {
  news_f2 = new Image(169 ,28); news_f2.src = "{% static 'img/news_f2.gif' %}";
  news_f1 = new Image(169 ,28); news_f1.src = "{% static 'img/news.gif' %}";
  fixtures_f2 = new Image(169 ,28); fixtures_f2.src = "{% static 'img/fixtures_f2.gif' %}";
  fixtures_f1 = new Image(169 ,28); fixtures_f1.src = "{% static 'img/fixtures.gif' %}";
  squad_f2 = new Image(169 ,28); squad_f2.src = "{% static 'img/squad_f2.gif' %}";
  squad_f1 = new Image(169 ,28); squad_f1.src = "{% static 'img/squad.gif' %}";
  results_f2 = new Image(169 ,28); results_f2.src = "{% static 'img/results_f2.gif' %}";
  results_f1 = new Image(169 ,28); results_f1.src = "{% static 'img/results.gif' %}";
  shop_f2 = new Image(169 ,28); shop_f2.src = "{% static 'img/shop_f2.gif' %}";
  shop_f1 = new Image(169 ,28); shop_f1.src = "{% static 'img/shop.gif' %}";
  articles_f2 = new Image(169 ,28); articles_f2.src = "{% static 'img/articles_f2.gif' %}";
  articles_f1 = new Image(169 ,28); articles_f1.src = "{% static 'img/articles.gif' %}";
  club_f2 = new Image(169 ,28); club_f2.src = "{% static 'img/club_f2.gif' %}";
  club_f1 = new Image(169 ,28); club_f1.src = "{% static 'img/club.gif' %}";
  supporters_f2 = new Image(169 ,28); supporters_f2.src = "{% static 'img/supporters_f2.gif' %}";
  supporters_f1 = new Image(169 ,28); supporters_f1.src = "{% static 'img/supporters.gif' %}";
  links_f2 = new Image(169 ,28); links_f2.src = "{% static 'img/links_f2.gif' %}";
  links_f1 = new Image(169 ,28); links_f1.src = "{% static 'img/links.gif' %}";
  tables_f2 = new Image(169 ,28); tables_f2.src = "{% static 'img/tables_f2.gif' %}";
  tables_f1 = new Image(169 ,28); tables_f1.src = "{% static 'img/tables.gif' %}";
  home_f2 = new Image(169 ,28); home_f2.src = "{% static 'img/home_f2.gif' %}";
  home_f1 = new Image(169 ,28); home_f1.src = "{% static 'img/home.gif' %}";
  }

</script>
<!-- STOP COPYING THE JAVASCRIPT HERE -->

</head>
<body onload="">
<a id="top"></a>
<table class="master">
<tr class="header"><td class="cols3">
<table>
<!-- fwtable fwsrc="top.png" fwbase="top.gif" -->
  <tr>
<!-- Shim row, height 1. -->
   <td><img src="{% static 'img/shim.gif' %}" alt="Shim" width="183" height="1" ></td>
   <td><img src="{% static 'img/shim.gif' %}" alt="Shim" width="282" height="1" ></td>
   <td><img src="{% static 'img/shim.gif' %}" alt="Shim" width="335" height="1" ></td>
  
  </tr>

  <tr><!-- row 1 -->
   <td><img id="top_r1_c1" src="{%  static 'img/top_r1_c1.gif' %}" alt="top r1 c1" width="183" height="47" ></td>
   <td><img id="top_r1_c2" src="{%  static 'img/top_r1_c2.gif' %}" alt="top r1 c2" width="282" height="47" ></td>
   <td><img id="top_r1_c3" src="{%  static 'img/top_r1_c3.gif' %}" alt="top r1 c3" width="335" height="47" ></td>
   
  </tr>
  <tr><!-- row 2 -->
   <td><img id="top_r2_c1" src="{% static 'img/top_r2_c1.gif' %}" alt="top r2 c1" width="183" height="30" ></td>
   <td><img id="ani" src="{% static 'img/ani.gif' %}" alt="animated Bray Wanderers" width="282" height="30"></td>
   <td><img id="top_r2_c3" src="{% static 'img/top_r2_c3.gif' %}" alt="top r2 c3" width="335" height="30" ></td>
  
  </tr>
  <tr><!-- row 3 -->
   <td colspan="3"><img id="title" src="{% static 'img/title.gif' %}" alt="Title" width="800" height="49" ></td>
  
  </tr>
</table></td>
</tr>

<tr><td class="w169">

<!-- Nav table -->

<table class="w169">

   <tr><!-- row 0 -->
    <td><a href="news.php" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('news', '', '{% static 'img/news.gif' %}', 1);">
    <img id="news" src="{% static 'img/news.gif' %}" alt="news" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 1 -->
    <td><a href="fixtures.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('fixtures', '', '{% static 'img/fixtures.gif' %}', 1);">
    <img id="fixtures" src="{% static 'img/fixtures.gif' %}" alt="fixtures" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 2 -->
    <td><a href="squad.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('squad', '', '{% static 'img/squad.gif' %}', 1);">
    <img id="squad" src="{% static 'img/squad.gif' %}" alt="squad" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 3 -->
    <td><a href="results.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('results', '', '{% static 'img/results.gif' %}', 1);">
    <img id="results" src="{% static 'img/results.gif' %}" alt="results" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 4 -->
    <td><a href="shop.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('shop', '', '{% static 'img/shop.gif' %}', 1);">
    <img id="shop" src="{% static 'img/shop.gif' %}" alt="shop" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 5 -->
    <td><a href="articles.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('articles', '', '{% static 'img/articles.gif' %}', 1);">
    <img id="articles" src="{% static 'img/articles.gif' %}" alt="articles" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 6 -->
    <td><a href="club.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('club', '', '{% static 'img/club.gif' %}', 1);">
    <img id="club" src="{% static 'img/club.gif' %}" alt="club" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 7 -->
    <td><a href="supporters.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('supporters', '', '{% static 'img/supporters.gif' %}', 1);">
    <img id="supporters" src="{% static 'img/supporters.gif' %}" alt="supporters" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 8 -->
    <td><a href="links.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('links', '', '{% static 'img/links.gif' %}', 1);">
    <img id="links" src="{% static 'img/links.gif' %}" alt="links" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 9 -->
    <td><a href="tables.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('tables', '', '{% static 'img/tables.gif' %}', 1);">
    <img id="tables" src="{% static 'img/tables.gif' %}" alt="tables" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 10 -->
    <td><a href="home.php" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('home', '', '{% static 'img/home.gif' %}', 1);">
    <img id="home" src="{% static 'img/home.gif' %}" alt="home" width="169" height="28"></a></td>
  </tr>
  <tr><!-- row 12 -->
   <td><img id="navbot" alt="navbot" src="{% static 'img/navbot.gif' %}" width="169" height="8" ></td>
   
 
  </tr>



</table>
<!-- STOP COPYING THE HTML HERE -->
</td>
<td class="wb1">

<!-- content table starts here do not exceed width="482" pixels -->
{% block content %}


{% endblock %}

<!-- content table ends here do not exceed width="482" -->
</td>
<td class="w169"><img src="{% static 'img/side.gif'%}" alt="side" width="149"></td></tr>

<tr>
    <td class="cols3 center"> <img src="{% static 'img/bot.gif' %}" alt="bot" width="800" height="34" usemap="#navbar" >
        <map name="navbar"><area shape="rect" coords="180,12,251,29" href="#top" alt="Back to the top" title="Back to the top">
            <area shape="rect" coords="251,13,321,29" href="contactus.php" alt="Contact us" title="Contact us">
            <area shape="rect" coords="322,13,378,29" href="siteinfo.php" alt="siteinfo"></map>
      <p class="small">&nbsp;</p>
    </td></tr>
<tr>
<td class="w163"><img src="{% static 'img/shim.gif' %}" alt="Shim" width="163" height="1"></td>
<td><img src="{% static 'img/shim.gif' %}" alt="Shim" width="482" height="1"></td>
<td><img src="{% static 'img/shim.gif' %}" alt="Shim" width="148" height="1"></td></tr></table>
</body>

</html>

