{% extends "base.html" %}

{% block content %}
<h1> Home Page </h1>

<h1> Another H1 which I want to be superwide and indeed much much wider</h1>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, at autem ea eius fugiat molestias optio
        placeat ratione totam! Ad aperiam aut dolorem iste neque, non quibusdam quo tempora tenetur.
    </div>
    <div>Aspernatur autem, consectetur deleniti eius hic ipsam labore necessitatibus nemo nisi, provident unde ut,
        velit? Deserunt dignissimos dolore eius et illo labore officia, officiis pariatur possimus, sequi soluta ullam
        voluptates.
    </div>
    <div>Ab at cumque cupiditate dignissimos, dolore doloribus dolorum ea exercitationem expedita facere id, maiores
        nihil provident, quas quod repudiandae sit temporibus vitae voluptas voluptatem? Accusantium eligendi fugit in
        perferendis ratione?
    </div>
    <div>Alias debitis doloribus ea ex excepturi molestiae odit. Aliquid amet animi, beatae commodi cum ex
        exercitationem expedita harum illo illum labore laudantium rem, repellat sapiente sequi suscipit vitae
        voluptatem? Reprehenderit!
    </div>
    <div>Accusantium, asperiores eaque eveniet incidunt ipsum modi nobis placeat possimus praesentium, quo rem,
        temporibus voluptatibus? Amet assumenda dignissimos, eligendi natus numquam officia porro quae? Asperiores
        aspernatur consequuntur delectus ratione soluta.
    </div>
    <div>Doloremque eius inventore qui quibusdam vero? Architecto autem consequatur cumque debitis dolores in ipsum
        magnam mollitia numquam porro praesentium quia quidem, ratione rem repellendus sunt tenetur. Architecto at
        obcaecati omnis!
    </div>
    <div>Debitis, et fuga impedit iure mollitia nobis temporibus! A alias aperiam beatae blanditiis corporis cum dolorem
        eaque enim eveniet, libero neque nobis nulla officia officiis quia quidem, reiciendis sapiente tempore.
    </div>
    <div>A ab amet aperiam asperiores assumenda commodi culpa, distinctio explicabo fugit hic ipsa nihil nobis numquam
        odio perferendis porro quas quis quisquam quod ratione, repellat reprehenderit rerum ullam velit vitae.
    </div>
{% endblock %}